.company {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -30px;
    @media screen and (min-width:1200px) {
      margin-bottom: 0;
  }
}

.item-company {
  width: 100%;
  margin-bottom: 30px;
    @media screen and (min-width:768px) {
      &:nth-child(2n+1) {
        margin-right: 30px;}
        width: calc(100% / 2 - 30px);
  }
    @media screen and (min-width:1200px) {
      width: 270px;
      margin: 0 auto;
        &:not(:last-child) {
          margin-right: 30px;
  }
 }   
}

.company-image {
  width: 100%;
  margin-bottom: 30px;
  height: 120px;
  background-color: var(--light-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
    @media screen and (min-width:1200px) {
      width: 270px;
  }
}

.company-image-svg {
  width: 70px;
  height: 70px;
}

.company .title {
  text-align: center;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
    @media screen and (min-width:768px) {
      text-align: left;
  }
}
.company .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  margin-top: 10px;
}

 
  

  
  
