.footer-bgr {
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer-container {
    display: flex;
    align-items: baseline;
  }
  .location-nave {
    margin-top: 20px;
  }
  .location:not(:last-child) {
    margin-bottom: 9px;
  }
  .contact-footer .nave {
    color: var(--white-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7px;
    letter-spacing: 0.03em;
    text-decoration: none;
  }
  .contact-footer .contact {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7px;
    letter-spacing: 0.03em;
    text-decoration: none;
  }
  
  .footer-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
  }
  .footer-right {
    margin-left: 70px;
  }
  .footer-right-list {
    display: flex;
  }
  .footer-right-item {
    width: 44px;
    height: 44px;
     &:not(:last-child) {
      margin-right: 10px;
    }
  }
  .footer-right-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     &:hover,
     :focus {
      background-color: var(--accent-color);
    }
  }
  .footer-right-icoons {
    width: 20px;
    height: 20px;
    fill: var(--white-color);
  }

  .footer-centr-right {
    margin-left: 93px;
  }
  .footer-input-email {
    width: 358px;
    height: 50px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    outline: none;
    cursor: pointer;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
     &:focus,
     :hover {
      border-color: var(--accent-color);
    }
  }
  
  .footer-button-centr-right {
    position: relative;
    margin-left: 12px;
    width: 200px;
    height: 50px;
    background-color: var(--accent-color);
    border: none;
    border-radius: 4px;
    color: var(--white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    padding: 10px 62px 10px 29px;
  }
  .footer-podpiska-svg {
    position: absolute;
    top: 50%;
    right: 28px;
    transform: translateY(-50%);
  }