.header {
    background-color: var(--white-color);
    border-bottom: 1px solid #ececec;
  }
  .navigation-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navigation {
    display: flex;
    align-items: center;
  }
  
  .site-nave {
    display: flex;
  }
  .header .item:not(:last-child) {
    margin-right: 50px;
  } 
   .logo {
    color: #000000;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
  }
  .logo-header {
    margin-right: 93px;
  }
  .logo-webstudio {
    color: var(--accent-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
     &:hover {
      color: #000000;
    } 
  }
  .logo-webstudiotwo {
    color: var(--white-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
     &:hover {
      color: #000000;
    }
  }

   .item { 
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .link { 
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14; 
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus {
        color: var(--accent-color);
  }
  
  }
  .link.current {
    color: var(--accent-color);
    &::after {
      display: block;
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--accent-color);
    }
  }
  /*-----------------contact-header--------*/
  
  .contact-header {
    display: flex;
  }
  .item-contact {
    display: flex;
    align-items: center;
    justify-content: center;
     &:not(:last-child) {
      margin-right: 50px;
    }
  }
  
  .contact-header .contact {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     &:hover,
     &:focus {
      color: var(--accent-color);
    }
     &:hover .header-email-svg,
     &:focus .header-email-svg {
      fill: var(--accent-color);
    }
     &:hover .header-email-svg,
     &:focus .header-email-svg {
      fill: var(--accent-color);
    }
      &:hover .header-contact-svg,
      &:focus .header-contact-svg {
        fill: var(--accent-color);
    }
  }
  
  .header-contact-svg {
    width: 20px;
    height: 16px;
    fill: var(--primary-text-color);
    margin-right: 10px;
     &:hover,
     &:focus {
        fill: var(--accent-color);
    }
  }
  
  .header-email-svg {
    width: 16px;
    height: 20px;
    fill: var(--primary-text-color);
    margin-right: 10px;
      &:hover,
      &:focus {
        fill: var(--accent-color);
    }  
  }
  