.shade-button {
    display: flex;
    justify-content: center;
    margin-top: 94px;
    margin-bottom: 50px;
  }
  .button-settings:not(:last-child) {
    margin-right: 8px;
  }
  .nav-button {
    background-color: #f5f4fa;
    color: #212121;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    cursor: pointer;
    border-radius: 4px;
    border: 0px;
    padding: 6px 22px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:focus {
        background: var(--accent-color);
        color: var(--white-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
      &:hover {
        background: var(--accent-color);
        color: var(--white-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }

  }